:root{
  --topbarheight:100px;
  --textwidth:50px;
}


html,body{
  width:100vw;
}
body{
  /* background-color: rgba(255,56,59,0.1); */
}


/*top bar styles------------------------------*/
#topbar{
  background-color: white;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  width:100%;
  height:var(--topbarheight);
  -webkit-box-shadow: 0px 10px 22px 8px rgba(255,56,59,0.62);
  box-shadow: 0px 10px 22px 8px rgba(255,56,59,0.62);
  /*
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  */
}
#sentence{
  color:black/*rgba(25, 63, 255, 0.5)*/;
  width:100%;
  min-height:var(--topbarheight);
  position:absolute;
  bottom:0;
  padding-left: 40px;
  box-sizing: border-box;
  overflow:hidden;
}
/*maintext------------------------------*/
#maintext{
  width:80%;
  margin:auto;
  margin-top:180px;
  line-height:32px;
}
#selected{
  display:block;
  margin-top: 40px;
  margin-bottom: 40px;
  color:rgba(255,56,59,1);
  margin-left:40px;
}
#selected span{
  display:block;
}
#selected:hover{
  cursor:default;
}
#selected .line4,.line8,.line12{
  margin-bottom:20px;
}
#selected .line13,.line14{
  text-indent: 20px;
}


/*typography------------------------------*/
.sonnet{
  font-family: 'IBM Plex Mono', monospace;
  font-size:18px;
  color:rgba(255,56,59,0.5);
  transition: color 0.3s;
  cursor:default;
}
.sentxt{
  font-family: starling,serif;
  font-weight: 400;
  font-style: normal;
  font-size:var(--textwidth);
  line-height: 100px;
}

#love{
  color:rgba(255,56,59,1);
  font-weight: 900;
  font-style: italic;
}
.heart{
  color:rgba(255,56,59,1);
}
/* animations------------------------------ */
@keyframes fadein {
  from {
    color:rgba(255,56,59,0.5);
  }
  to {
    color:rgba(255,56,59,1);
  }
}



/*media stuff------------------------------*/
@media(hover:hover){
  .sonnet:hover{
    color:rgba(255,56,59,1);
    cursor:default;
  }
}
@media(max-width:700px){
  #maintext{
    width:90%;
  }
  /* .sonnet{
    font-size:16px;
  } */
}
