:root{
  --topbarheight:140px;
  --defaultmouse:none;
  --rnum:255,56,59;
  --blu:34, 10, 255;
  --grn:58, 191, 105;
  --bodc:0,0,0;
  --strong:var(--bodc);
  --control:40px;
  --padding:40px;
  --back:255,255,255;
  cursor: var(--defaultmouse);
}
#cover{
  display:block;
  position:fixed;
  width:100vw;
  height:100vh;
  top:0;
  left:0;
  background-color: white;
  opacity:1;
  z-index: 1000;
  transition: opacity 0.3s;
}


html,body{
  width:100vw;
  cursor: var(--defaultmouse);
}
body{
  /* background-color: rgba(255,56,59,0.1); */
}

br{
  display:none;
}

#mycursor{
  position:fixed;
  width:100px;
  height:30px;
  z-index:1000;
  pointer-events:none
}
#mcaption{
  position:absolute;
  right:0;
  bottom:0;
  width:80%;
  height:20px;
  white-space: nowrap;
  opacity:0;
  transition:opacity 0.3s;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size:16px;
  color:rgba(var(--bodc),1);

}
#cicon{
  font-size:40px;
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 20px;
  transform-origin: center;
  display:none;
  color:black;
  position:relative;
}
.pencil{
  transform:rotate(90deg);
  top:-22px;
}
.pointer{
  transform:rotate(180deg);
  top:2px;
}



/*top bar styles------------------------------*/
#topbar{
  background-color: white;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  width:100%;
  height:var(--topbarheight);
  -webkit-box-shadow: 0px 10px 22px 8px rgba(var(--strong),0.62);
  box-shadow: 0px 10px 22px 8px rgba(var(--strong),0.62);
  /*
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  */
}
#botbar{
  background-color: white;
  z-index:2;
  position:fixed;
  height:var(--control);
  bottom:0;
  left:0;
  -webkit-box-shadow: 0px -10px 22px 8px rgba(var(--strong),0.62);
  box-shadow: 0px -10px 22px 8px rgba(var(--strong),0.62);
  width:100%;
  padding-left:var(--padding);
  padding-right:var(--padding);
  box-sizing: border-box;
}
#botbar .scale{
  width:300px;
}


#filtering{
  display:flex;
  flex-direction: column;
  width:100%;
  height:calc(100% - var(--topbarheight));
  position:absolute;
  top:0;
  left:0;
  overflow:hidden;
  box-sizing: border-box;
}

.tabs{
  width:100%;
  min-height:60px;
  font-family: 'IBM Plex Sans', sans-serif;
  padding-left: var(--padding);
  padding-right: var(--padding);
  padding-bottom: 10px;
  box-sizing: border-box;
  font-weight: 400;
  font-size:20px;
  border-bottom: 1px solid rgba(var(--bodc),1);
  /* color:rgba(255,56,59,1); */
}
.current-tab{
  text-decoration: underline;
}

.tabs span{
  margin-top: 20px;
  margin-right: 10px;
  padding-left:5px;
  padding-right:5px;
  display:inline-block;
  transition:background-color,0.3;
}



.filters{
  width:100%;
  flex:1;
  overflow:scroll;
}
.fil-cat{
  width:100%;
  height:100%;
  display:none;
  box-sizing: border-box;
  padding-left: var(--padding);
  padding-right: var(--padding);
  transition:opacity, 0.3s;
}

.fil-pick::before{
  content:'➵';
}

#tone{
  display:block;
  font-family: starling serif;
  font-size:30px;
  padding-top:30px;
}
#tone span{
  display:inline-block;
  margin-right:40px;
  margin-bottom:40px;
}
#object{
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  font-style: italic;
  justify-content: center;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#object span{
  display:inline-block;
  margin:20px;
  white-space: nowrap;
}
#rhymes{
  font-family:'IBM Plex Sans', sans-serif;
  font-size:20px;
  padding-top:30px;
}
#rhymes .indiv{
  display:inline-block;
  margin-right:40px;
  margin-bottom:40px;
}

.man,.woman{
  font-size:80px;
  margin-left:40px;
  margin-right:40px;
}
.oneself{
  align-self: flex-start;
  width:100px;
  font-weight: 400;
  font-style: normal;
  margin-left:50% !important;
  margin-right:50% !important;
  position:relative;
}
#themes{
  font-family: starling serif;
  font-size:30px;
}
.grouping{
  display:inline-block;
  margin-top:20px;
}
.grouping span{
  display:inline-block;
  margin-bottom:10px;
  margin-left: 10px;
}

.fil-cat span{
  transition:background-color 0.3s;
}





#sentence{
  color:rgba(var(--bodc),1)/*rgba(25, 63, 255, 0.5)*/;
  width:100%;
  height:calc(var(--topbarheight) - var(--control) + 1px);
  position:absolute;
  bottom:calc(var(--control));
  left:0;
  padding-left: var(--padding);
  padding-top: 30px;
  box-sizing: border-box;
  overflow:scroll;
  border-bottom: 1px solid rgba(var(--bodc),1);
  border-top: 1px solid rgba(var(--bodc),1);
}





#toggle{
  height:40px;
  width: 100%;
  position:absolute;
  bottom:0px;
  left:0px;
  padding-left: var(--padding);
  padding-right:var(--padding);
  box-sizing: border-box;
}

#toggle,#botbar div{
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size:16px;
  color:rgba(var(--bodc),1);
  line-height:var(--control);
}

#arrow{
  text-align: right;
  height:var(--control);
  box-sizing: border-box;
  float:right;
  display:inline-block;
}
#arrow::before{
  content:'Filter ';
}
.counter{
  height:var(--control);
  box-sizing: border-box;
  display:inline-block;
}
.counter span{
  color:black;
}
.counter::after{
  content:'/2157 lines selected';
  font-style: italic;
}
.scale{
  height:var(--control);
  float:right;
  text-align: right;
}
.scale::before{
  content:'View: ';
  font-style: italic;
}
.scale span{
  color: rgba(var(--bodc),0.5);
  transition:color 0.3s;
}
#find{
  background-color: white;
  border-top:1px solid rgba(var(--bodc),1);
  border-left:1px solid rgba(var(--bodc),1);
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size:16px;
  line-height:var(--control);
  height:var(--control);
  width:140px;
  text-align: right;
  padding-right: var(--padding);
  display:inline-block;
  margin:0;
  position:absolute;
  bottom:0;
  right:0;
}

#find input{
  width:40px;
  border-bottom:1px solid rgba(var(--bodc),1);
}
.cview{
  color:rgba(var(--bodc),1) !important;
}
#reset{
  height:var(--control);
  float:left;
  text-align: left;
  color: rgba(var(--bodc),0.5);
  transition:opacity 0.3s,background-color 0.3s,color 0.3s;
}
#reset::after{
  content:'↻ reset all';
  transition:opacity 0.3s,background-color 0.3s,color 0.3s;
  color: rgba(var(--bodc),0.5);
}

/*maintext------------------------------*/
#maintext{
  width:calc(100% - calc(2*var(--padding)));
  margin:auto;
  margin-top:170px;
  transition:font-size 0.5s;
  padding-bottom: 100px;
}
.smlsize{
  font-family: 'IBM Plex Mono', monospace;
  font-size:10px;
  line-height:12px;
  font-weight: 400;
}
.medsize{
  font-family: 'IBM Plex Mono', monospace;
  font-size:18px;
  font-weight: 300;
  line-height:32px;
}
.lrgsize{
  font-family: 'IBM Plex Mono', monospace;
  font-size:30px;
  font-weight: 300;
  line-height:50px;
}








#selected{
  display:block;
  border-right:1px solid rgba(var(--strong),1);
  overflow:scroll;
  margin-top: 40px;
  margin-bottom: 40px;
  color:rgba(var(--strong),1);
  text-indent: 40px;
}
#selected span{
  display:inline-block;
  white-space: nowrap;
}

#selected .line4,.line8,.line12{
  margin-bottom:20px;
}
#selected .line13,.line14{
  text-indent: 60px;
}
#selected .sw{
  background-color: inherit;
  display:inline;
}

#selected br{
  display:inherit;
}
#selected .heart::after{
  content: ' [×close]';
}

/*typography------------------------------*/

.ital{
  font-style: italic;
}
.updown{
  display:inline-block;
  transform:rotate(180deg);
  transform-origin: center;
}

#tonetext{
  font-weight: 400;
  font-family: starling,serif;
}
#whotext{
  font-style: italic;
}
#themetext{
  font-weight: 400;
  font-family: starling,serif;
  font-style: italic;
}
.startTheme{
  font-style: normal !important;
}
#shakespeare{
  display:none;
}

.sonnet{
  color:rgba(var(--bodc),0.3);
  transition:opacity 0.3s,background-color 0.3s,color 0.3s;
  cursor: var(--defaultmouse);
}
.sonnet div{
  display:inline;
  text-decoration:underline white;
  background-color: inherit;
}
.sentxt{
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
}
.oneline{
  font-size:55px;
  white-space: nowrap;
  line-height:var(--control);
}
.twolines{
  font-size:30px;
  font-weight: 300;
  line-height: 35px;
}
.threelines{
  font-size:20px;
  line-height: 25px;
}

.changeable{
  background-color: inherit;
  transition: background-color 0.3s;
}

#love{
  font-family: starling,serif;
  color:rgba(var(--strong),1);
  font-weight: 900;
  font-style: italic;
}
.heart{
  transition: background-color,0.3s;
  color:rgba(var(--bodc),1);
  text-indent: 0px;
}
.sw{
  display:none;
  text-decoration:underline white;
}
.label{
  display:inline;
}


.changed{
  text-decoration: underline rgba(var(--blu), 0.5);
}

/*filtering------------------------------*/
.selection{
  color:rgba(var(--strong),1);
}




/*media stuff------------------------------*/
@media(hover:hover){
  #selected .changeable:hover{
    background-color:rgba(235, 255, 91, 0.29);
  }
  #cicon{
    display: inline-block;
  }
  #selected:hover{
    background-color: inherit;
  }
  #selected .sw{
    background-color: inherit;
    display:none;
  }
  .sonnet:hover{
    background-color:rgba(235, 255, 91, 0.29);
    color:rgba(var(--strong) ,1);
    cursor: var(--defaultmouse);
  }
  #selected:hover{
    cursor: var(--defaultmouse);
  }
  .scale span:hover{
    color:rgba(var(--bodc) ,1);
  }
  .fil-cat span:hover{
    background-color:rgba(235, 255, 91, 0.29);
  }
  #reset:hover{
    color:rgba(var(--bodc) ,1);
  }
  #reset:hover:after{
    color:rgba(var(--bodc) ,1);
  }
  .tabs span:hover{
    background-color:rgba(235, 255, 91, 0.29);
  }
  #selected .heart:hover{
    background-color:rgba(var(--rnum), 0.29);
  }
}



@media(max-width:700px){
  :root{
    --padding:20px;
  }

  #maintext{
    margin-top:170px;
  }

  .counter::after{
    content:'/2157 selected';
    font-style: italic;
  }
  #reset::after{
    content:'↻reset';
  }
  /* .sonnet{
    font-size:16px;
  } */
}
