:root{
  --topbarheight:100px;
  --defaultmouse:none;
  --rnum:255,56,59;
  cursor: var(--defaultmouse);
}


html,body{
  width:100vw;
  cursor: var(--defaultmouse);
}
body{
  /* background-color: rgba(255,56,59,0.1); */
}

br{
  display:none;
}

#mycursor{
  margin-top:-22px;
  position:fixed;
  width:100px;
  height:100px;
  z-index:1000;
  pointer-events:none
}
#cicon{
  font-size:40px;
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 20px;
  transform-origin: center;
  display:inline-block;
  transform:rotate(90deg);
  color:black;
}



/*top bar styles------------------------------*/
#topbar{
  background-color: white;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  width:100%;
  height:var(--topbarheight);
  -webkit-box-shadow: 0px 10px 22px 8px rgba(255,56,59,0.62);
  box-shadow: 0px 10px 22px 8px rgba(255,56,59,0.62);
  /*
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  */
}
#sentence{
  color:black/*rgba(25, 63, 255, 0.5)*/;
  width:calc(100% - 80px);
  height:var(--topbarheight);
  position:absolute;
  bottom:0;
  left:0;
  padding-left: 40px;
  padding-top: 20px;
  box-sizing: border-box;
  overflow:scroll;
}
#arrow{
  cursor:pointer;
  font-size:55px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  line-height: 100px;
  color:rgba(255,56,59,1);
  position:absolute;
  bottom:0;
  right:0;
  padding-right: 40px;
  box-sizing: border-box;
  text-align: right;
  width:80px;
  height:100px;
}
/*maintext------------------------------*/
#maintext{
  width:calc(100% - 80px);
  margin:auto;
  margin-top:180px;
  line-height:32px;
}
#selected{
  display:block;
  margin-top: 40px;
  margin-bottom: 40px;
  color:rgba(var(--rnum),1);
  opacity:1;
  text-indent: 40px;
}
#selected span{
  display:inline-block;
}
#selected:hover{
  cursor: var(--defaultmouse);
}
#selected .line4,.line8,.line12{
  margin-bottom:20px;
}
#selected .line13,.line14{
  text-indent: 60px;
}
#selected .sw{
  background-color: inherit;
  display:inline;
}
#selected .changeable:hover{
  background-color:rgba(235, 255, 91, 0.29);
}
#selected br{
  display:inherit;
}

/*typography------------------------------*/

.sonnet{
  font-family: 'IBM Plex Mono', monospace;
  font-size:18px;
  font-weight: 300;
  color:rgba(var(--rnum),1);
  opacity:0.5;
  transition:opacity 0.3s,background-color 0.3s;
  cursor: var(--defaultmouse);
}
.sonnet div{
  display:inline;
  text-decoration:underline white;
  background-color: inherit;
}
.sentxt{
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
}
.oneline{
  font-size:55px;
  white-space: nowrap;
}
.twolines{
  font-size:30px;
  font-weight: 300;
}
.threelines{
  font-size:20px;
}

.changeable{
  background-color: inherit;
  transition: background-color 0.3s;
}

#love{
  font-family: starling,serif;
  color:rgba(255,56,59,1);
  font-weight: 900;
  font-style: italic;
}
.heart{
  color:rgba(255,56,59,1);
  text-indent: 0px;
}
.sw{
  display:none;
  text-decoration:underline white;
}
.label{
  display:inline;
}


.changed{
  text-decoration: underline rgba(34, 10, 255, 0.5);
}


/* animations------------------------------ */
@keyframes fadein {
  from {
    color:rgba(255,56,59,0.5);
  }
  to {
    color:rgba(255,56,59,1);
  }
}



/*media stuff------------------------------*/
@media(hover:hover){
  #selected:hover{
    background-color: inherit;
  }
  #selected .sw{
    background-color: inherit;
    display:none;
  }
  .sonnet:hover{
    background-color:rgba(235, 255, 91, 0.29);
    opacity:1;
    cursor: var(--defaultmouse);
  }

}
@media(max-width:700px){
  #maintext{
    width:calc(100% - 40px);
    margin-top:140px;
  }
  #sentence{
    padding-left:20px;
  }
  #arrow{
    padding-right: 20px;
  }
  /* .sonnet{
    font-size:16px;
  } */
}
